$white-color: #fff;
$primary-color: #c2999a;
$secondary-color:#42393a;
$error-color: #f96465;
$sign-color: #f09495;
$unactive-color: #f7cbca;
$active-color:  #8bc34a;

$padding-base: .5rem;

$left-percent: 60%;
$rigth-percent: 40%;

$font: 'Josefin Sans', sans-serif;

$letter-spacing: 2px;
$h1-size: 3.5rem ;